.ws-page-container {
    position: relative;
    overflow: hidden;
}

.ws-page {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
}

.ws-page[aria-hidden=true] {
    left: -999999px;
}
