build/
packages/
*.suo
*.user
*.Tests/Content/
*.Tests/Scripts/
bin/
obj/
.vs/
*.g.cs
paket-files/
.fake/
.paket/.store/
.paket/*.exe
.paket/fake
.paket/paket
.paket/paket.bootstrapper
