version 5.142.0

source https://api.nuget.org/v3/index.json
source https://nuget.intellifactory.com/nuget username: "%IF_USER%" password: "%IF_PASS%"

nuget WebSharper ~> 4.2.0 prerelease
nuget WebSharper.CSharp ~> 4.2.0 prerelease
nuget WebSharper.FSharp ~> 4.2.0 prerelease
nuget WebSharper.Testing ~> 4.2.0 prerelease
nuget HtmlAgilityPack ~> 1.6.6
nuget Microsoft.CodeAnalysis.CSharp 1.0.0
nuget System.ValueTuple 4.3.0
nuget FSharp.Core ~> 4.2.0
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group build
    framework: net45
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core 5.141.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script
