version 5.108.0

source https://api.nuget.org/v3/index.json
source https://nuget.intellifactory.com/nuget username: "%IF_USER%" password: "%IF_PASS%"

nuget WebSharper ~> 4.1 alpha
nuget WebSharper.FSharp ~> 4.1 alpha
nuget WebSharper.Testing ~> 4.1 alpha
nuget HtmlAgilityPack 
nuget Microsoft.CodeAnalysis.CSharp 1.0.0
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
nuget Microsoft.TypeScript.MSBuild ~> 2.6.1

group build
    framework: net45
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core 5.108.0
    github intellifactory/websharper tools/WebSharper.Fake.fsx