version 5.173.1

source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
source https://nuget.intellifactory.com/nuget username: "%IF_USER%" password: "%IF_PASS%"

framework: net461, net471

nuget WebSharper prerelease
nuget WebSharper.CSharp prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.Testing prerelease
nuget HtmlAgilityPack ~> 1.6.6
nuget Microsoft.CodeAnalysis.CSharp 1.0.0
nuget System.ValueTuple 4.3.0
nuget FSharp.Core ~> 4.2.0
github fsprojects/FSharp.TypeProviders.SDK:e9d2c93bdbc5dcb2e514bf316b86ac15e89378fb src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK:e9d2c93bdbc5dcb2e514bf316b86ac15e89378fb src/ProvidedTypes.fs

group build
    framework: net45
    source https://api.nuget.org/v3/index.json

    nuget FAKE
    nuget Paket.Core 5.173.1

group wsbuild
    git https://github.com/dotnet-websharper/build-script
