type file
id WebSharper.UI
authors IntelliFactory
projectUrl https://websharper.com/
repositoryType git
repositoryUrl https://github.com/dotnet-websharper/ui/
licenseUrl https://github.com/dotnet-websharper/ui/blob/master/LICENSE.md
iconUrl https://github.com/dotnet-websharper/core/raw/websharper50/tools/WebSharper.png
description
    User interface combinators for WebSharper
tags
    WebSharper Web JavaScript FSharp CSharp
dependencies
    framework: netstandard2.0
        WebSharper ~> LOCKEDVERSION:[3]
        HtmlAgilityPack >= LOCKEDVERSION
files
    ../WebSharper.UI/bin/Release/netstandard2.0/WebSharper.UI.dll ==> lib/netstandard2.0
    ../WebSharper.UI/bin/Release/netstandard2.0/WebSharper.UI.xml ==> lib/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.UI.Templating.Common.dll ==> lib/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.UI.Templating.Common.xml ==> lib/netstandard2.0
    ../WebSharper.UI.Templating.Runtime/bin/Release/netstandard2.0/WebSharper.UI.Templating.Runtime.dll ==> lib/netstandard2.0
    ../WebSharper.UI.Templating.Runtime/bin/Release/netstandard2.0/WebSharper.UI.Templating.Runtime.xml ==> lib/netstandard2.0
    ../WebSharper.UI/bin/Release/netstandard2.0/WebSharper.UI.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI/bin/Release/netstandard2.0/WebSharper.UI.xml ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.UI.Templating.DesignTime.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.UI.Templating.DesignTime.xml ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.UI.Templating.Common.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.UI.Templating.Common.xml ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/HtmlAgilityPack.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Collections.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Control.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Core.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Core.JavaScript.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.InterfaceGenerator.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.JavaScript.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Main.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Sitelets.dll ==> typeproviders/fsharp41/netstandard2.0
    ../WebSharper.UI.Templating/bin/Release/netstandard2.0/WebSharper.Web.dll ==> typeproviders/fsharp41/netstandard2.0

references
    WebSharper.UI.dll
    WebSharper.UI.Templating.Common.dll
    WebSharper.UI.Templating.Runtime.dll
    WebSharper.UI.Templating.dll
